{
 :deps     true
 :npm-deps {:install false}
 :dev-http {8082 "public"}
 :target-defaults
           {:browser
            {:compiler-options {:warnings {:fn-deprecated false}}
             :js-options
                               {:resolve {"react"                              {:target :global :global "React"}
                                          "react-dom"                          {:target :global :global "ReactDOM"}
                                          
                                          ;devcards
                                          ;"devcards-marked"                    {:target :global :global "DevcardsMarked"}
                                          ;"devcards-syntax-highlighter"        {:target :global :global "DevcardsSyntaxHighlighter"}
                                          ;"create-react-class"                 {:target :global :global "createReactClass"}

                                          }}}}
 :builds   {:app      {:target     :browser
                       :output-dir "firebase/public/cljs-out/js"
                       :asset-path "/cljs-out/js"
                       :modules    {:main {:entries [com.widdindustries.demo-app.app]}}}
            :app-dev  {:target     :browser
                       :output-dir "firebase/public/cljs-out/js"
                       :asset-path "/cljs-out/js"
                       :modules    {:main {:entries [com.widdindustries.demo-app.app]}}}
            :test     {:target    :browser-test
                        :test-dir  "target/public/js/test"
                       ;           :ns-regexp "-test$"
                       ;:runner-ns tests.client-test-main
                        :devtools  {:http-port          8021
                                    :http-root          "target/public/js/test"}}
            #_:devcards #_{:target           :browser
                       :compiler-options {:devcards true :verbose true
                                          }
                       :preloads         []
                       :output-dir       "firebase/public/devcards/js"
                       :asset-path       "/devcards/js"
                       :modules          {:devcards {:entries [com.moneyrebase.view.devcards]}}}

            }
 }